
.container{
    background-color: black;
    height: 100vh;
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

.upperContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;

    img{
        width: 260px;
        height: 260px;
        object-fit: cover;
        object-position: 0px -14px;
        border-radius: 100%;
        margin-top: 40px;
    }
}

.content{
    color: white;

    .txtRed{
        color: #FA2759;
    }

    .txtTurquoise{
        color: #2DFCD8;
        display: inline-block;
        -webkit-transform: rotate(-30deg);
        transform: translateY(-0.5px) rotate(-20deg);
        letter-spacing: 1.5px;
    }

    button{
        padding: 24px 105px 24px 105px;
        margin-top: 32px;
    }
}