.bg{
    height: calc(100vh - 75px);
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upperContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;

    img{
        width: 260px;
        height: 260px;
        border-radius: 100%;
        margin-top: 40px;
    }
}

.content{
    color: white;

    .txtRed{
        color: #FA2759;
    }

    .txtTurquoise{
        color: #2DFCD8;
        display: inline-block;
        -webkit-transform: rotate(-30deg);
        transform: translateY(-0.5px) rotate(-20deg);
        letter-spacing: 1.5px;
    }

    button{
        border: 1px solid #2DFCD8;
        color: #2DFCD8;
        padding: 24px 105px 24px 105px;
        margin-top: 32px;

        &:hover{
            color: white;
            background-color: #2dfcd9a4;
        }
    }
}


@media(max-width: 1040px){
    .container{
        width: 80%;
    }

    .upperContainer{

        h1{
            font-size: 50px;
        }

        img{
            width: 200px;
            height: 200px;
        }

        button{
            padding: 24px 90px 24px 90px;
        }
    }
}


@media(max-width: 910px){
    .upperContainer{

        h1{
            font-size: 45px;
        }

        img{
            width: 200px;
            height: 200px;
        }
    }
}

@media(max-width: 768px){
    .upperContainer{

        h1{
            font-size: 40px;
            white-space: nowrap;
        }

        img{
            width: 180px;
            height: 180px;
        }

        button{
            padding: 20px 80px 20px 80px;
        }
    }
}

@media(max-width: 700px){
    .upperContainer{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 50px;

        img{
            margin-top: unset;
            margin-bottom: 32px;
        }
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media(max-width: 450px){
    .upperContainer{
        button{
            padding: 12px 64px 12px 64px;
            margin-top: 8px;
        }

        h1{
            font-size: 36px;
        }
    }
}

@media(max-width: 400px){
    .upperContainer{
        button{
            padding: 12px 64px 12px 64px;
            margin-top: 8px;
        }

        h1{
            font-size: 30px;
        }
    }
}

@media(max-width: 340px){
    .bg{
        align-items: flex-start;
    }

    .upperContainer{
        h1{
            white-space: normal;
            width: 140px;
        }
    }
}

@media(max-height: 630px){
    .upperContainer{

        img{
            width: 160px;
            height: 160px;
            margin-bottom: unset;
        }
    }
}

@media(max-height: 460px){
    .bg{
        align-items: flex-start;
    }

    .upperContainer{

        button{
            margin-top: unset;
            padding: 16px 90px 16px 90px;
        }
    }
}

@media(max-height: 360px){
    
    .upperContainer{

        h1{
            font-size: 28px;
        }

        button{
            padding: 8px 90px 8px 90px;
        }
    }
}

@media(max-height: 300px){
    .upperContainer{
        img{
            margin-top: 20px;
        }
    }
}

@media(max-height: 580px) and (max-width: 700px){
    
    .upperContainer{

        img{
            width: 120px;
            height: 120px;
        }
    }
}

@media(max-height: 540px) and (max-width: 700px){
    
    .upperContainer{

        img{
            display: none;
        }
    }
}

@media(max-height: 560px) and (min-width: 1040px){
    
    h1{
        font-size: 50px;
    }
}
