<div class="bg">
    <div class="container">
        <div class="upperContainer">
            <div data-aos="fade-right" data-aos-duration="1000" class="content">
                <h1>Hi, <br>
                    I'm <span class="txtRed">Oda</span> Schneider <br>
                    Front End develop<span class="txtTurquoise">e</span>r</h1>
                <div>
                    <a href="#contact">
                        <button>
                            Contact me
                        </button>
                    </a>
                </div>
            </div>
            <img data-aos="fade-left" data-aos-duration="1000" src="./../../assets/img/img1.png">
        </div>
        <app-arrow-animation></app-arrow-animation>
    </div>
</div>
