<div class="bg">
    <div class="container">
        <div class="pageLinks">
            <a href='#home'><img src="./../../assets/img/logo-gray.png"></a>
            <a routerLink="/imprint">Legal Notice </a> 
            <span> | </span>
            <a routerLink="/data-protection"> Privacy</a>
        </div>
        <div class="socialLinks">
            <a href='https://github.com/OdaSchneider' target="_blank"><img src="./../../assets/img/icons/github-fill.png"></a>
            <a href='https://www.linkedin.com/in/oda-schneider-207763228/' target="_blank"><img src="./../../assets/img/icons/linkedin-box-fill.png"></a>
            <a href='https://www.xing.com/profile/Oda_Schneider/cv' target="_blank"><img src="./../../assets/img/icons/xing-fill.png"></a>
        </div>
    </div>
</div>
