<div class="bg">
    <div id="about" class="container">
        <div class="indroductionContainer">
            <div class="text" data-aos="fade-left" data-aos-duration="1000">
                <h2 data-aos="fade-left" data-aos-duration="1000">About me</h2>
                <img data-aos="fade-right" data-aos-duration="1000" src="./../../assets/img/img3.jpg">
                <p data-aos="fade-left" data-aos-duration="1000">"I'm a front end developer with biotechnological background."</p>
                <p>Open my <a href="#" onclick="window.open('./../../assets/downloads/resume.pdf', '_blank', 'fullscreen=yes'); return false;">CV</a></p>
            </div>
        </div>
        <div class="content">
            <div data-aos="fade-in" data-aos-duration="1000" class="chapterContainer">
                <img src="./../../assets/img/icons/walk-line.png">
                <h3>The Journey Began</h3>
                <p>During my biotechnology studies I made my first programming experiences with Python</p>
            </div>
            <div data-aos="fade-in" data-aos-duration="1500" class="chapterContainer">
                <img src="./../../assets/img/icons/search-line.png">
                <h3>The Discovery</h3>
                <p>Since I felt I wasn't in the right place in research, I looked for alternatives and came to web development.</p>
            </div>
            <div data-aos="fade-in" data-aos-duration="2000" class="chapterContainer">
                <img src="./../../assets/img/icons/heart-line.png">
                <h3>The Passion</h3>
                <p>I started at the developer academy and have not regretted my decision. Since then I am excited about web development. It is a great community and the work is a perfect match for me, as I can constantly develop myself further.</p>
            </div>
            <div data-aos="fade-in" data-aos-duration="2500" class="chapterContainer">
                <img src="./../../assets/img/icons/flight-takeoff-line.png">
                <h3>My Goals</h3>
                <p>I am looking forward to work in a great team and to improve my skills. I am motivated to start my career and stay on pulse of time, like the upcoming years are going to be more and more exciting.</p>
            </div>
        </div>
    </div>

</div>