<div class="bg">
    <div id="contact" class="container">
        <div class="headline">
            <h2>Contact me</h2>
            <p>Get in touch via the form below or by <a href="mailto:oda.schneider@gmx.de">emailing</a> </p>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
            <label data-aos="zoom-in" for="name">Name</label>
            <input type="text" name="name" data-aos="zoom-in" formControlName="name" placeholder="Enter your name" #name>

            <label data-aos="zoom-in" for="email">Email address</label>
            <input type="email" name="email" data-aos="zoom-in" formControlName="email" placeholder="Enter your Email address" #email>
            
            <label data-aos="zoom-in" for="message">Message</label>
            <textarea type="text" name="message" data-aos="zoom-in" formControlName="message" placeholder="Enter your message" #message></textarea>
            
            <button type="submit" [disabled]="!contactForm.valid" #sendButton>Send</button>

        </form>
        <div [class.display]="submit" [class.d-none]="!submit">
            <p>{{report}}</p>
            <button *ngIf="submit" (click)="closePopup()">Ok</button>
        </div>
    </div>
</div>
