header{
    height: 80px;
    z-index: 10;
    background-color: black;
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;

    a{
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-size: 18px;
        transition: 150ms ease-in;

        &:hover{
            color: #FA2759;
            transition: 150ms ease-in;
        }
    }

    img{
        height: 48px;
        cursor: pointer;
    }

    .active{
        color: #FA2759;
    }
}

