.container{
    padding-top: 80px;
    padding-bottom: 64px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: black;
    color: white;

    a{
        text-decoration: none;
        color: #2DFCD8;
        word-wrap: break-word;
    }
}

@media(max-width: 960px){
    .container{
        padding-top: 24px;
        padding-left: 80px;
        padding-right: 16px;
    }
}

@media(max-width: 760px){
    .container{
        padding-left: 32px;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 24px;
    }

    p, li{
        font-size: 16px;
    }
}

@media(max-width: 440px){
    h1{
        font-size: 32px;
    }

    h2{
        font-size: 20px;
    }

    p, li{
        font-size: 14px;
    }
}

@media(max-width: 370px){
    h1{
        font-size: 26px;
    }

    h2{
        font-size: 18px;
    }
}

@media(max-width: 300px){
    .container{
        padding-left: 16px;
    }
}