@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/roboto-flex-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./assets/') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/roboto-flex-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/roboto-flex-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/roboto-flex-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/roboto-flex-v9-latin-regular.svg#RobotoFlex') format('svg'); /* Legacy iOS */
  }

/* exo-300 - latin */
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/exo-v20-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/exo-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/exo-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/exo-v20-latin-300.woff') format('woff'), /* Modern Browsers */
         url('fonts/exo-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/exo-v20-latin-300.svg#Exo') format('svg'); /* Legacy iOS */
  }
  /* exo-regular - latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/exo-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/exo-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/exo-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/exo-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/exo-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/exo-v20-latin-regular.svg#Exo') format('svg'); /* Legacy iOS */
  }
  /* exo-600 - latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/exo-v20-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/exo-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/exo-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/exo-v20-latin-600.woff') format('woff'), /* Modern Browsers */
         url('fonts/exo-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/exo-v20-latin-600.svg#Exo') format('svg'); /* Legacy iOS */
  }
  /* exo-700 - latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/exo-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/exo-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/exo-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/exo-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/exo-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/exo-v20-latin-700.svg#Exo') format('svg'); /* Legacy iOS */
  }
  /* exo-500 - latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/exo-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/exo-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/exo-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/exo-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('fonts/exo-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/exo-v20-latin-500.svg#Exo') format('svg'); /* Legacy iOS */
  }
  /* exo-800 - latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/exo-v20-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/exo-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/exo-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/exo-v20-latin-800.woff') format('woff'), /* Modern Browsers */
         url('fonts/exo-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/exo-v20-latin-800.svg#Exo') format('svg'); /* Legacy iOS */
  }

  /* dosis-300 - latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/dosis-v27-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/dosis-v27-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/dosis-v27-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/dosis-v27-latin-300.woff') format('woff'), /* Modern Browsers */
         url('fonts/dosis-v27-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/dosis-v27-latin-300.svg#Dosis') format('svg'); /* Legacy iOS */
  }
  /* dosis-regular - latin */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/dosis-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/dosis-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/dosis-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/dosis-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/dosis-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/dosis-v27-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
  }
  /* dosis-500 - latin */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/dosis-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/dosis-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/dosis-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/dosis-v27-latin-500.woff') format('woff'), /* Modern Browsers */
         url('fonts/dosis-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/dosis-v27-latin-500.svg#Dosis') format('svg'); /* Legacy iOS */
  }
  /* dosis-600 - latin */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/dosis-v27-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/dosis-v27-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/dosis-v27-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/dosis-v27-latin-600.woff') format('woff'), /* Modern Browsers */
         url('fonts/dosis-v27-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/dosis-v27-latin-600.svg#Dosis') format('svg'); /* Legacy iOS */
  }
  /* dosis-700 - latin */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/dosis-v27-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/dosis-v27-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/dosis-v27-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/dosis-v27-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/dosis-v27-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/dosis-v27-latin-700.svg#Dosis') format('svg'); /* Legacy iOS */
  }
  /* dosis-800 - latin */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/dosis-v27-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/dosis-v27-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/dosis-v27-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/dosis-v27-latin-800.woff') format('woff'), /* Modern Browsers */
         url('fonts/dosis-v27-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/dosis-v27-latin-800.svg#Dosis') format('svg'); /* Legacy iOS */
  }