html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 36px;
}

p{
    font-size: 18px;
}

button {
    background-color: black;
    border: 1px solid #2DFCD8;
    color: #2DFCD8;
    font-size: 18px;
    font-family: 'Roboto Flex', sans-serif;
    cursor: pointer;
    transition: 250ms ease-in;

    &:hover{
        color: white;
        background-color: #2dfcd9a4;
        transition: 250ms ease-in;
    }
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}
